**PROJECT NAME: Airbnb Listings Data EDA**


By: **Joysurya Bhattacharya**

GITHUB LINK: https://github.com/Joysurya98/Airbnb-Listings-Data-EDA-Using-PowerBI-

# **DATA CLEANING**

## Data Loading

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#dataset files upload
from google.colab import files
# Upload CSV file
uploaded = files.upload()

chicago_df = pd.read_csv("Chicago Airbnb listings.csv")
new_orleans_df=pd.read_csv('New Orleans Airbnb Listings.csv')

Saving Chicago Airbnb listings.csv to Chicago Airbnb listings (1).csv
Saving New Orleans Airbnb Listings.csv to New Orleans Airbnb Listings (1).csv

In [ ]:
chicago_df.head(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,2384,Hyde Park - Walk to University of Chicago,2613,Rebecca,NaN,Hyde Park,41.78790,-87.58780,Private room,113.0,3,253,2025-06-08,1.99,1,341,11,R17000015609
1,7126,Tiny Studio Apartment 94 Walk Score,17928,Sarah,NaN,West Town,41.90166,-87.68021,Entire home/apt,100.0,2,580,2025-06-01,2.98,1,60,51,R24000114046
2,10945,The Biddle House (#1),33004,At Home Inn,NaN,Lincoln Park,41.91196,-87.63981,Entire home/apt,203.0,4,121,2025-06-11,0.89,7,284,28,2209984
3,12140,Lincoln Park Guest House,46734,Shay And Robert,NaN,Lincoln Park,41.92357,-87.64947,Private room,288.0,2,18,2024-10-27,0.15,1,147,2,2398451
4,28749,Quirky Bucktown Loft w/ Parking No Parties,27506,Lauri,NaN,Logan Square,41.91955,-87.70069,Entire home/apt,250.0,2,253,2025-06-05,1.43,1,80,44,R24000113825
5,71930,"Rest, Relax and Explore",334241,Michael And Veronica,NaN,West Town,41.89615,-87.67934,Private room,82.0,3,134,2025-06-01,0.78,1,309,21,R23000108832
6,94450,Comfy Garden Suite in Andersonville,504470,Mark,NaN,Edgewater,41.97960,-87.66512,Entire home/apt,109.0,3,35,2025-06-13,0.99,1,175,10,R22000082956
7,145659,Trendy Roscoe Village 3BR/2BR walk to shops,683529,Joe,NaN,North Center,41.94342,-87.68121,Entire home/apt,268.0,32,77,2024-05-05,0.65,24,339,0,NaN
8,145690,4BR/2BR Walk to North Ave Beach & Zoo~Close to El,683529,Joe,NaN,Lincoln Park,41.91289,-87.63864,Entire home/apt,349.0,32,87,2024-12-02,0.71,24,356,1,NaN
9,189821,"Best in Chicago, private, amazing garden space",899757,Meighan,NaN,Logan Square,41.92918,-87.70219,Entire home/apt,238.0,3,699,2025-06-09,4.17,1,203,38,R23000108826

In [ ]:
new_orleans_df.head(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,19091,Fully Furnished Cozy Apartment,72880,John,NaN,Leonidas,29.96100,-90.11950,Entire home/apt,62.0,1,504,2025-03-07,2.73,1,288,1,"25-NSTR-11772, 25-OSTR-11151"
1,71624,Ravenwood Manor (Historic Bywater),367223,Susan,NaN,Bywater,29.96153,-90.04364,Entire home/apt,150.0,30,316,2025-05-07,1.81,1,356,8,"21-RSTR-18609, 22-OSTR-20720"
2,79536,FeelAtHomeInNewOrleans-PrivateApt,428362,Miriam,NaN,Seventh Ward,29.97803,-90.07450,Entire home/apt,NaN,3,781,2025-05-11,4.54,1,8,50,"23-NSTR-15067, 24-OSTR-20882"
3,79609,Bywater's Original & Finest,428909,Stephen,NaN,St. Claude,29.96448,-90.03667,Entire home/apt,121.0,30,506,2025-03-05,2.91,1,356,5,"23-ISTR-02823, 23-OSTR-02823"
4,80869,"Frenchmen House ""Red Room""",437783,Joanne,NaN,Marigny,29.96811,-90.05905,Private room,80.0,1,989,2025-06-02,5.71,2,210,51,24-XSTR-08500
5,84725,Historic UPTOWN NEW ORLEANS Resort,85132,Sanford Sandy,NaN,Central City,29.93608,-90.07997,Private room,317.0,30,5,2016-01-01,0.03,8,365,0,Exempt
6,90806,Mid-city. The heart of New Orleans,485705,Thomas J,NaN,Mid-City,29.97264,-90.09992,Entire home/apt,68.0,30,144,2025-03-12,0.86,1,365,1,NaN
7,183207,"Frenchmen House ""Rose Room""",437783,Joanne,NaN,Marigny,29.96811,-90.05905,Private room,80.0,1,920,2025-05-17,5.51,2,208,45,24-XSTR-08500
8,184478,Northside Bayou Quarters,884946,DJoseph,NaN,Fillmore,30.01387,-90.08049,Private room,NaN,30,2,2020-02-26,0.03,1,0,0,"19str-24335, 19-OSTR-1234"
9,204998,Hilaire Suite - 2 Bed 2.5 Bath near French Qua...,1006034,Gwendolyn,NaN,Treme - Lafitte,29.96780,-90.06675,Entire home/apt,96.0,30,207,2022-09-05,1.24,5,180,0,"19STR-26370, 19-OSTR-2637"

## **Data Dupilcate and Missing value Cases**

In [ ]:
#store in temporary dataframes
c_df=chicago_df
o_df=new_orleans_df

### *Chicago Airbnb dataset*

In [ ]:
c_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8137 entries, 0 to 8603
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              8137 non-null   int64
 1   name                            8137 non-null   object
 2   host_id                         8137 non-null   int64
 3   host_name                       8132 non-null   object
 4   neighbourhood                   8137 non-null   object
 5   latitude                        8137 non-null   float64
 6   longitude                       8137 non-null   float64
 7   room_type                       8137 non-null   object
 8   price                           8133 non-null   float64
 9   minimum_nights                  8137 non-null   int64
 10  number_of_reviews               8137 non-null   int64
 11  last_review                     6634 non-null   object
 12  reviews_per_month               8137 non-null   float64
 13  calculated_host_listings_count  8137 non-null   int64
 14  availability_365                8137 non-null   int64
 15  number_of_reviews_ltm           8137 non-null   int64
dtypes: float64(4), int64(7), object(5)
memory usage: 1.1+ MB

In [ ]:
c_df['id'].nunique()

8604

In [ ]:
c_df['name'].nunique()

8137

In [ ]:
c_df[['name','host_id']].nunique()

name       8137
host_id    3635
dtype: int64

In [ ]:
c_df['name'].value_counts()

name
Traveler's Dream - 1 bed in a shared bedroom          18
Blueground | Streeterville, pool, nr Navy Pier        16
Hotel Perks - Private Bedroom | Private Bathroom      15
Blueground | River N, gym, pool, nr Riverwalk         11
Blueground | River N, gym, pool, nr L stop & beach    10
                                                      ..
O5-Next toDowntown, public transportation close by     1
Trendy Space: Holds 6, Walk Everywhere, Park Free!     1
Trendy|Comfortable|1BR|Lincoln Square                  1
1 bedroom in the heart of downtown Chicago.            1
City Life, Neighborhood Comfort - Studio               1
Name: count, Length: 8137, dtype: int64

In [ ]:
c_df.loc[c_df['name']=="Traveler's Dream - 1 bed in a shared bedroom"]
#these are duplicate values that needs to be deleted

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
6775,1248561023085816090,Traveler's Dream - 1 bed in a shared bedroom,57387860,Freehand,NaN,Near North Side,41.893217,-87.626428,Shared room,58.0,1,0,NaN,NaN,43,0,0,2368420
6776,1248562163305776611,Traveler's Dream - 1 bed in a shared bedroom,57387860,Freehand,NaN,Near North Side,41.893122,-87.626222,Shared room,58.0,1,0,NaN,NaN,43,0,0,2368420
6777,1248564041339561012,Traveler's Dream - 1 bed in a shared bedroom,57387860,Freehand,NaN,Near North Side,41.891842,-87.628383,Shared room,58.0,1,2,2024-12-01,0.22,43,0,2,2368420
6778,1248565129891389426,Traveler's Dream - 1 bed in a shared bedroom,57387860,Freehand,NaN,Near North Side,41.893014,-87.628409,Shared room,58.0,1,25,2025-03-12,2.84,43,0,25,2368420
6779,1248565134572127897,Traveler's Dream - 1 bed in a shared bedroom,57387860,Freehand,NaN,Near North Side,41.893530,-87.628060,Shared room,58.0,1,36,2025-03-09,3.99,43,0,36,2368420
6780,1248566161448641226,Traveler's Dream - 1 bed in a shared bedroom,57387860,Freehand,NaN,Near North Side,41.893034,-87.626352,Shared room,58.0,1,0,NaN,NaN,43,0,0,2368420
6782,1248570213996942614,Traveler's Dream - 1 bed in a shared bedroom,57387860,Freehand,NaN,Near North Side,41.893548,-87.628305,Shared room,58.0,1,6,2024-10-25,0.67,43,0,6,2368420
6783,1248571308046274930,Traveler's Dream - 1 bed in a shared bedroom,57387860,Freehand,NaN,Near North Side,41.891467,-87.626927,Shared room,58.0,1,8,2024-12-31,0.89,43,0,8,2368420
6784,1248572810327846055,Traveler's Dream - 1 bed in a shared bedroom,57387860,Freehand,NaN,Near North Side,41.893402,-87.626617,Shared room,58.0,1,2,2024-12-09,0.28,43,0,2,2368420
6785,1248573903967106022,Traveler's Dream - 1 bed in a shared bedroom,57387860,Freehand,NaN,Near North Side,41.893210,-87.627890,Shared room,52.0,1,85,2025-04-13,9.59,43,0,85,2368420
6786,1248576282115516770,Traveler's Dream - 1 bed in a shared bedroom,57387860,Freehand,NaN,Near North Side,41.892930,-87.628130,Shared room,52.0,1,0,NaN,NaN,43,0,0,2368420
6787,1248577424168201557,Traveler's Dream - 1 bed in a shared bedroom,57387860,Freehand,NaN,Near North Side,41.891458,-87.626239,Shared room,52.0,1,0,NaN,NaN,43,0,0,2368420
6788,1248579558443676603,Traveler's Dream - 1 bed in a shared bedroom,57387860,Freehand,NaN,Near North Side,41.891671,-87.626532,Shared room,52.0,1,0,NaN,NaN,43,0,0,2368420
6789,1248580736426208702,Traveler's Dream - 1 bed in a shared bedroom,57387860,Freehand,NaN,Near North Side,41.892810,-87.626530,Shared room,52.0,1,0,NaN,NaN,43,0,0,2368420
6790,1248582011925975315,Traveler's Dream - 1 bed in a shared bedroom,57387860,Freehand,NaN,Near North Side,41.892990,-87.626430,Shared room,52.0,1,0,NaN,NaN,43,0,0,2368420
6791,1248583507030553140,Traveler's Dream - 1 bed in a shared bedroom,57387860,Freehand,NaN,Near North Side,41.893054,-87.626758,Shared room,52.0,1,0,NaN,NaN,43,0,0,2368420
6792,1248585431813002313,Traveler's Dream - 1 bed in a shared bedroom,57387860,Freehand,NaN,Near North Side,41.893520,-87.627560,Shared room,52.0,1,0,NaN,NaN,43,0,0,2368420
6795,1249109577622724215,Traveler's Dream - 1 bed in a shared bedroom,57387860,Freehand,NaN,Near North Side,41.891170,-87.626600,Shared room,52.0,1,1,2025-02-26,0.27,43,0,1,2368420

In [ ]:
#delete duplicate place names
c_df=c_df.drop_duplicates(subset='name')

In [ ]:
c_df['host_name'].value_counts()

host_name
Blueground           285
LuxurybookingsFZE    119
Cloud9                89
David                 88
Level                 80
                    ...
Khiry                  1
Monish                 1
Takeisa                1
Killian                1
Meighan                1
Name: count, Length: 2077, dtype: int64

In [ ]:
c_df.loc[c_df['host_name']=="Blueground"]
#insight: we have same host but for different airbnbs in the same area

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
1402,35635161,"Blueground | Gold Coast, convertible terrace, ...",107434423,Blueground,NaN,Near North Side,41.898904,-87.627970,Entire home/apt,295.0,32,0,NaN,NaN,594,319,0,NaN
1403,35635202,"Blueground | Gold Coast, lounge, nr Oak St",107434423,Blueground,NaN,Near North Side,41.898904,-87.627970,Entire home/apt,295.0,32,0,NaN,NaN,594,326,0,NaN
1415,35926772,"Blueground | River N, gym, nr Magnificent Mile",107434423,Blueground,NaN,Near North Side,41.896218,-87.625711,Entire home/apt,324.0,32,2,2023-12-01,0.03,594,317,0,NaN
1416,35927069,"Blueground | River N, gym & w/d, nr Mag Mile",107434423,Blueground,NaN,Near North Side,41.896218,-87.625711,Entire home/apt,310.0,32,1,2022-08-23,0.03,594,285,0,NaN
1459,36832360,"Blueground | S Loop, pool & gym, nr Michigan Ave",107434423,Blueground,NaN,Near South Side,41.864925,-87.624654,Entire home/apt,328.0,32,0,NaN,NaN,594,139,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8395,1420234324478376930,"Blueground | Chicago Loop, pool, nr Union Station",107434423,Blueground,NaN,Loop,41.886081,-87.634222,Entire home/apt,283.0,32,0,NaN,NaN,594,248,0,NaN
8396,1420235650234240530,"Blueground | West Loop, rooftop, nr Union Park",107434423,Blueground,NaN,Near West Side,41.877999,-87.657965,Entire home/apt,245.0,32,0,NaN,NaN,594,318,0,NaN
8397,1420235995267314521,"Blueground | Central Station, pool, nr Grant Park",107434423,Blueground,NaN,Near South Side,41.867056,-87.623109,Entire home/apt,501.0,32,0,NaN,NaN,594,304,0,NaN
8438,1424561334355066208,"Blueground | Near North, pool, nr Chicago River",107434423,Blueground,NaN,Near North Side,41.894723,-87.630726,Entire home/apt,222.0,32,0,NaN,NaN,594,185,0,NaN
8439,1424576433636023442,"Blueground | Near North, pool, nr Millennium Park",107434423,Blueground,NaN,Near North Side,41.894723,-87.630726,Entire home/apt,222.0,32,0,NaN,NaN,594,291,0,NaN

In [ ]:
#check for null values
c_df.isnull().mean() * 100

id                                  0.000000
name                                0.000000
host_id                             0.000000
host_name                           0.061448
neighbourhood_group               100.000000
neighbourhood                       0.000000
latitude                            0.000000
longitude                           0.000000
room_type                           0.000000
price                              10.827086
minimum_nights                      0.000000
number_of_reviews                   0.000000
last_review                        18.471181
reviews_per_month                  18.471181
calculated_host_listings_count      0.000000
availability_365                    0.000000
number_of_reviews_ltm               0.000000
license                            29.052476
dtype: float64

In [ ]:
#drop neighborhood group
c_df=c_df.drop(columns=['neighbourhood_group'])

In [ ]:
#drop license column because it has 30% null values and has no use to the problem statement
c_df=c_df.drop(columns=['license'])

In [ ]:
#fill null values in price column with median price calculated on the basis of same room type and neighborhood
c_df['price'] = (
    c_df.groupby(['neighbourhood', 'room_type'])['price']
      .transform(lambda x: x.fillna(x.median()))
)

In [ ]:
#for last_review (date column), null values suggest the airbnb is not reviewed yet
#therefore, keeping the null as it is for date analysis is the best option

In [ ]:
#for reviews_per_month, we can consider these nulls as 0
c_df['reviews_per_month'] = c_df['reviews_per_month'].fillna(0)

### *New Orleans Airbnb dataset*

In [ ]:
o_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7317 entries, 0 to 7521
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              7317 non-null   int64
 1   name                            7317 non-null   object
 2   host_id                         7317 non-null   int64
 3   host_name                       7317 non-null   object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   7317 non-null   object
 6   latitude                        7317 non-null   float64
 7   longitude                       7317 non-null   float64
 8   room_type                       7317 non-null   object
 9   price                           6182 non-null   float64
 10  minimum_nights                  7317 non-null   int64
 11  number_of_reviews               7317 non-null   int64
 12  last_review                     6181 non-null   object
 13  reviews_per_month               6181 non-null   float64
 14  calculated_host_listings_count  7317 non-null   int64
 15  availability_365                7317 non-null   int64
 16  number_of_reviews_ltm           7317 non-null   int64
 17  license                         5981 non-null   object
dtypes: float64(5), int64(7), object(6)
memory usage: 1.1+ MB

In [ ]:
o_df['id'].nunique()

7317

In [ ]:
o_df['name'].nunique()

7317

In [ ]:
o_df['name'].value_counts()

name
La Belle Maison Resort| 2BR Resort Suite              20
La Belle Maison Resort| 1BR Resort Suite              20
Wyndham Avenue Plaza | 1BR/1BA Queen Suite            15
La Belle Maison Resort| Studio Resort Suite           15
Wyndham Avenue Plaza | Studio Queen Suite             10
                                                      ..
Tropical Citrus Grove Studio                           1
Cush Uptown Shotgun Walk, Eat, Drink and Enjoy!        1
Julia's Place Uptown NOLA                              1
New! New Orleans Home on leafy lane near streetcar     1
Home of original Po-Boy near Bourbon & Frenchmen B     1
Name: count, Length: 7317, dtype: int64

In [ ]:
#delete duplicate place names
o_df=o_df.drop_duplicates(subset='name')

In [ ]:
o_df['host_name'].value_counts()

host_name
Tigran             304
Daniel             109
David               96
RoomPicks           95
Brenna And Nick     79
                  ...
Dorsa                1
Bernadette           1
Kimball              1
Jesika               1
Jacinta              1
Name: count, Length: 1854, dtype: int64

In [ ]:
o_df.loc[o_df['host_name']=="Tigran"]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
3339,552771377841478964,2BR Cozy Condo Steps from ST Charles,256715777,Tigran,NaN,Central City,29.936330,-90.077910,Entire home/apt,NaN,1,41,2025-05-17,1.03,9,354,10,"22-CSTR-20365, 20-OSTR-00670"
3346,553366752208850304,Brand New Stylish 5BD Penthouse in NOLA,256715777,Tigran,NaN,Central City,29.936040,-90.079560,Entire home/apt,243.0,1,22,2025-05-11,0.56,9,357,9,"20-CSTR-31159, 20-OSTR-00670"
3347,553380573463595585,Modern 4BR Half Block to St Charles St,256715777,Tigran,NaN,Central City,29.937560,-90.079460,Entire home/apt,180.0,1,55,2025-05-26,1.44,9,351,17,"21-CSTR-20780, 20-OSTR-00670"
3348,553392843781324385,Modern Urban Retreat 5 min drive to FQ,256715777,Tigran,NaN,Central City,29.937220,-90.080050,Entire home/apt,227.0,30,34,2025-03-09,0.85,9,344,8,"20STR-13762, 20-OSTR-06700"
3349,553407728394184727,4 BR Spacious Half Block to St Charles St,256715777,Tigran,NaN,Central City,29.935900,-90.079200,Entire home/apt,168.0,2,57,2025-05-27,1.42,9,344,13,"22-CSTR-11368, 20-OSTR-06700"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7137,1348369700208195362,Cozy Hideaway Steps from the French Quarter,569985911,Tigran,NaN,Central City,29.939040,-90.075987,Entire home/apt,NaN,1,0,NaN,NaN,27,0,0,24-XSTR-08071
7138,1348373624522702302,Elegant New Orleans Retreat with Classic Style,569985911,Tigran,NaN,Central City,29.939040,-90.075987,Entire home/apt,NaN,1,0,NaN,NaN,27,0,0,24-XSTR-08071
7139,1348376421045707785,Bright & Welcoming Getaway with NOLA Charm,569985911,Tigran,NaN,Central City,29.939040,-90.075987,Entire home/apt,NaN,1,0,NaN,NaN,27,0,0,24-XSTR-08071
7238,1362272084591721917,Charming Retreat with Cozy Living Spaces,677487276,Tigran,NaN,Mid-City,29.971699,-90.094642,Entire home/apt,209.0,1,0,NaN,NaN,1,318,0,"23-CSTR-09811, 20-OSTR-20553"
7491,1431760490247317764,5BR Private Penthouse in the Heart of New Orleans,256715777,Tigran,NaN,Central City,29.939917,-90.078165,Entire home/apt,185.0,1,0,NaN,NaN,9,326,0,"21-CSTR-20768, 20-OSTR-00670"

In [ ]:
#check for null values
o_df.isnull().mean() * 100

id                                  0.000000
name                                0.000000
host_id                             0.000000
host_name                           0.000000
neighbourhood_group               100.000000
neighbourhood                       0.000000
latitude                            0.000000
longitude                           0.000000
room_type                           0.000000
price                              15.511822
minimum_nights                      0.000000
number_of_reviews                   0.000000
last_review                        15.525489
reviews_per_month                  15.525489
calculated_host_listings_count      0.000000
availability_365                    0.000000
number_of_reviews_ltm               0.000000
license                            18.258849
dtype: float64

In [ ]:
#drop neighborhood group
o_df=o_df.drop(columns=['neighbourhood_group'])

In [ ]:
#drop license column because it has 30% null values and has no use to the problem statement
o_df=o_df.drop(columns=['license'])

In [ ]:
#fill null values in price column with median price calculated on the basis of same room type and neighborhood
o_df['price'] = (
    o_df.groupby(['neighbourhood', 'room_type'])['price']
      .transform(lambda x: x.fillna(x.median()))
)

In [ ]:
#for last_review (date column), null values suggest the airbnb is not reviewed yet
#therefore, keeping the null as it is for date analysis is the best option

In [ ]:
#for reviews_per_month, we can consider these nulls as 0
o_df['reviews_per_month'] = o_df['reviews_per_month'].fillna(0)

## **Save Cleaned Data**

In [ ]:
c_df.to_csv("chicago_airbnb_cleaned.csv", index=False)
files.download("chicago_airbnb_cleaned.csv")

In [ ]:
o_df.to_csv("new_orleans_airbnb_cleaned.csv", index=False)
files.download("new_orleans_airbnb_cleaned.csv")